<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Zhusee</string>
	<key>Builder Version</key>
	<string>7536.2.3</string>
	<key>CFBundleDisplayName</key>
	<string>台灣氣象資訊</string>
	<key>CFBundleIdentifier</key>
	<string>net.zhusee2.extensions.taiwanweather</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>400</real>
				<key>Identifier</key>
				<string>popWeather</string>
				<key>Width</key>
				<real>600</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>btnWeather</string>
				<key>Image</key>
				<string>icons/171-sun.png</string>
				<key>Label</key>
				<string>台灣氣象資訊</string>
				<key>Palette Label</key>
				<string>氣象資訊</string>
				<key>Popover</key>
				<string>popWeather</string>
				<key>Tool Tip</key>
				<string>氣象資訊</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>使用中央氣象局作為資料來源，快速查閱台灣天氣的小工具。</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.cwb.gov.tw</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://zhusee2.github.com/TaiwanWeather/update.plist</string>
	<key>Website</key>
	<string>http://zhusee2.github.com/TaiwanWeather/</string>
</dict>
</plist>
