<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>Taipei_City</string>
		<key>Key</key>
		<string>optWeatherArea</string>
		<key>Title</key>
		<string>預報地區</string>
		<key>Titles</key>
		<array>
			<string>臺北市</string>
			<string>新北市</string>
			<string>臺中市</string>
			<string>臺南市</string>
			<string>高雄市</string>
			<string>基隆市</string>
			<string>桃園縣</string>
			<string>新竹市</string>
			<string>新竹縣</string>
			<string>苗栗縣</string>
			<string>彰化縣</string>
			<string>南投縣</string>
			<string>雲林縣</string>
			<string>嘉義市</string>
			<string>嘉義縣</string>
			<string>屏東縣</string>
			<string>宜蘭縣</string>
			<string>花蓮縣</string>
			<string>臺東縣</string>
			<string>澎湖縣</string>
			<string>金門縣</string>
			<string>連江縣</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>Taipei_City</string>
			<string>New_Taipei_City</string>
			<string>Taichung_City</string>
			<string>Tainan_City</string>
			<string>Kaohsiung_City</string>
			<string>Keelung_City</string>
			<string>Taoyuan_County</string>
			<string>Hsinchu_City</string>
			<string>Hsinchu_County</string>
			<string>Miaoli_County</string>
			<string>Changhua_County</string>
			<string>Nantou_County</string>
			<string>Yunlin_County</string>
			<string>Chiayi_City</string>
			<string>Chiayi_County</string>
			<string>Pingtung_County</string>
			<string>Yilan_County</string>
			<string>Hualien_County</string>
			<string>Taitung_County</string>
			<string>Penghu_County</string>
			<string>Kinmen_County</string>
			<string>Lienchiang_County</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>optShowForecast</string>
		<key>Title</key>
		<string>點下工具列按鈕時，顯示一週天氣預報</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
