body {
  min-width: 560px;
  background: rgba(255,255,255,0.7);
}

.container {
  margin-top: 2em;
}

#current .btn-group {
  float: left;
  margin-right: 0.5em;
  display: inline-block;
}
#current.alert img {
  height: 24px;
  vertical-align: bottom;
}
#current small.lastUpdate {
  margin-top: 6px;
  float: right;
  display: inline;
}
@media (max-width: 250px) {
  body {
    min-width: auto;
  }
  #current strong {
   display: block;
  }
  #current small.lastUpdate {
   margin-top: 1em;
   float: none;
   display: inline-block;
  }
}

table#forecast th,
table#forecast td {
  text-align: center;
  vertical-align: middle;
}
table#forecast span.desc {
  display: none;
}
table#forecast img {
  width: 45px;
}
table#forecast tbody td:first-child {
  font-weight: bold;
}

.hide {
  display: none;
}